input {
  color: #252525;
  background-color: #fff;
  border: 1px solid #252525;
  border-radius: 0.25rem;
  padding: 0.3rem 0.75rem;
  margin: 0;
  overflow: visible;
  letter-spacing: normal;
  word-spacing: normal;
}

div input:hover {
  border: 1px solid #007eff;
}
