@import './../scss/variables/colors';

button {
  border-radius: 0.25rem;
  outline: none;
  border: 0;
  background: #fff;
  color: $omni-black;
  padding: 4px 12px;
  margin-right: 4px;

  :last-child {
    margin-right: 0;
  }
}

.toolbar {
  margin: 5vw 12vw 0 12vw;

  @media screen and (max-width: 1200px) {
    margin: 5vw 5vw 0 5vw;
  }

  @media screen and (max-width: 768px) {
    margin: 10px 10px 0 10px;
  }
}

.form,
.presenter {
  overflow: auto;
  border-radius: 0.25rem;
}

.form {
  height: calc(60vh + 40px);
  margin: 20px 10px 0 12vw;

  @media screen and (max-width: 1200px) {
    margin: 20px 10px 0 5vw;
  }

  @media screen and (max-width: 768px) {
    margin: 10px 10px 0 10px;
    height: calc(30vh + 40px);
  }
}

.presenter {
  background: #fff;
  height: 60vh;
  padding: 20px;
  margin: 20px 12vw 0 10px;

  @media screen and (max-width: 1200px) {
    margin: 20px 5vw 0 10px;
  }

  @media screen and (max-width: 768px) {
    margin: 10px 10px 0 10px;
    height: 44vh;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
