input {
  margin: 0;
  overflow: visible;
  background-color: $gray-light;
  padding: 0.3rem 0.75rem;
}

.textinput {
  height: 1rem;
}

.textinput,
textarea {
  color: $omni-black;
  border-radius: 0.25rem;
  letter-spacing: normal;
  word-spacing: normal;
  border: 0;
}
