$omni-blue: #007eff !default;
$omni-blue-light: lighten($omni-blue, 10%) !default;
$omni-blue-dark: darken($omni-blue, 10%) !default;
$omni-black: #252525 !default;
$omni-green: #57d900 !default;

$gray-light: rgb(242, 243, 244) !default;
$gray-dark: rgb(141, 141, 141) !default;
